build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
tools/make/config.mk
cflie.*
version.c
tags
*cffirmware*.so
cffirmware.py

/cf2.*
/tag.*
/bolt.*
*.gch

current_platform.mk

/generated/**
**/__pycache__/**
**/*.pyc

bindings/build/*
bindings/cffirmware_wrap.c

docs/.jekyll-metadata
docs/.jekyll-cache

docs/api/logs.md_raw
docs/api/params.md_raw
docs/api/log_param_doc.json
