build_info.json

^bin/dep/all
bin/*
.cproject
.project
.pydevproject
.settings/*
.vscode/*
*~
cflie.*
version.c
tags
*cffirmware*.so
cffirmware.py

/cf2.*
/tag.*
/bolt.*
/flapper.*
*.gch

current_platform.mk

/generated/**
**/__pycache__/**
**/*.pyc

bindings/build/*
bindings/cffirmware_wrap.c

docs/.jekyll-metadata
docs/.jekyll-cache

docs/api/logs.md_raw
docs/api/params.md_raw
docs/api/log_param_doc.json
docs/api

build/
# To avoid that /tools/build is ignored
!/tools/*

**/*.o
**/*.cmd
**/*.a
*.elf
