menu "Example applications"

choice
	prompt "Example application to build"
	default CONFIG_EXAMPLE_APPLICATION_NONE

config EXAMPLE_APPLICATION_NONE
    bool "Do not build any example application"

config EXAMPLE_APP_APPCHANNEL
    bool "Build appchannel application"

config EXAMPLE_APP_HELLO_WORLD
    bool "Build Hello World application"

config EXAMPLE_APP_INTERNAL_PARAM_LOG
    bool "Build internal param log application"

config EXAMPLE_APP_PEER_TO_PEER
    bool "Build peer-to-peer example application"

config EXAMPLE_DEMO_SWARM
    bool "Build the demo swarm application"

config EXAMPLE_DEMO_WALL_FOLLOWING
    bool "Build the demo wall following application"

endchoice

endmenu
