#
# This config files include values that should be set and not randomized when
# doing an make randconfig.
#

#
# If the app entry point is available and no app is linked in, we will get
# a linker error.
# CONFIG_APP_ENABLE is not set
#
# Same is true for OOT estimator and controller
# CONFIG_ESTIMATOR_OOT is not set
# CONFIG_CONTROLLER_OOT is not set
#
# Some decks use UART1 and can not be enabled when debug printing is directed to UART1
# Turn it off to verify the deck drivers.
# CONFIG_DEBUG_PRINT_ON_UART1 is not set
#
# Do not build with hybrid mode as we run out of CCM memory in combination with some other configurations
# CONFIG_DECK_LOCO_TDOA3_HYBRID_MODE is not set
