#
# This config files include values that should be set and not randomized when
# doing an make randconfig.
#

#
# If the app entry point is available and no app is linked in, we will get
# a linker error.
# CONFIG_APP_ENABLE is not set
#
# Same is true for OOT estimator
# CONFIG_ESTIMATOR_OOT is not set
