CONFIG_PLATFORM_FLAPPER=y

CONFIG_ESTIMATOR_AUTO_SELECT=y
CONFIG_CONTROLLER_PID=y

CONFIG_MOTORS_ESC_PROTOCOL_STANDARD_PWM=y

CONFIG_CONTROLLER_PID_FILTER_ALL=y
# CONFIG_CONTROLLER_PID_IMPROVED_BARO_Z_HOLD=y

CONFIG_DECK_FORCE="bcUSD:bcLedRing:bcFlapperDeck"
CONFIG_DECK_FLAPPER=y
CONFIG_DECK_USD=y
CONFIG_DECK_LEDRING=y

CONFIG_DECK_FLAPPER_EXTRX_ENABLE=n # Enable external receiver
CONFIG_DECK_CPPM=y
CONFIG_DECK_CPPM_USE_PA3=y

# CONFIG_DECK_EXTRX_ALT_HOLD=y
# CONFIG_DECK_EXTRX_ARMING=y

# CONFIG_DECK_LEDRING_DEFAULT_EFFECT=7
# CONFIG_DECK_LEDRING_NBR_LEDS=12

# Applicable when using CF2 as flight controller
# CONFIG_DECK_FLAPPER_MEASURE_VBAT_ON_PA3 # requires modification of the PCB: 10k / 1k voltage divider on PA3 and R44 removed

# For Flappers prior to 2022 (PCB revB)
# CONFIG_POWER_DISTRIBUTION_FLAPPER_REVB=y
