CONFIG_PLATFORM_CF21BL=y
CONFIG_SYSLINK_RX_DMA=y
CONFIG_DECK_LIGHTHOUSE_MAX_N_BS=8
CONFIG_DECK_LOCODECK_USE_ALT_PINS=y
CONFIG_DECK_LOCO_ALGORITHM_TDOA3=y
CONFIG_DECK_LOCO_TDOA_RATE_LIMIT=y
CONFIG_MOTORS_ESC_PROTOCOL_DSHOT=y
CONFIG_MOTORS_DEFAULT_PROP_TEST_PWM_RATIO=10000
CONFIG_FREERTOS_USE_TRACE_FACILITY=n
CONFIG_RADIO_ACTIVITY_TIMEOUT_MS=3000
CONFIG_SUPERVISOR_CRASH_DETECTION_G=2
CONFIG_DECK_LIGHTHOUSE_MAX_RATE=10