CONFIG_PLATFORM_SPRING_GRIPPER=y

CONFIG_ESTIMATOR_AUTO_SELECT=y
CONFIG_CONTROLLER_PID=n
CONFIG_CONTROLLER_MLESO=y

CONFIG_MOTORS_ESC_PROTOCOL_STANDARD_PWM=y

CONFIG_CONTROLLER_PID_FILTER_ALL=y
# CONFIG_CONTROLLER_PID_IMPROVED_BARO_Z_HOLD=y

CONFIG_DECK_FLAPPER=y
CONFIG_POWER_DISTRIBUTION_FLAPPER=y
CONFIG_DECK_USD=y
CONFIG_DECK_SPRING_GRIPPER=y

CONFIG_DECK_FLAPPER_EXTRX_ENABLE=n # Enable external receiver
CONFIG_DECK_CPPM_USE_PA3=y
CONFIG_DECK_CPPM_USE_IO1=y
CONFIG_DECK_CPPM_USE_IO2=y

CONFIG_DEBUG=n