# CI jobs

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cf2:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "make defconfig && ./tools/build/build PLATFORM=cf2 UNIT_TEST_STYLE=min"

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2.1.4
      with:
        name: cf2-${{ github.sha }}
        path: cf2.bin

  bolt:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "make bolt_defconfig && ./tools/build/build UNIT_TEST_STYLE=min"

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2.1.4
      with:
        name: bolt-${{ github.sha }}
        path: bolt.bin

  tag:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "make tag_defconfig && ./tools/build/build PLATFORM=tag UNIT_TEST_STYLE=min"

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v2.1.4
      with:
        name: tag-${{ github.sha }}
        path: tag.bin

  features:
    runs-on: ubuntu-latest
    needs: cf2

    strategy:
      fail-fast: false
      matrix:
        features:
        # Build cf2 with bosch sensors
        - bosch.conf
        # Build cf2 with TDMA
        - loco_tdma.conf
        # Build cf2 with TDOA2 positioning mode
        - loco_tdoa2.conf
        #- LPS_TDOA_ENABLE=1
        # Build cf2 with TDOA3 positioning mode
        - loco_tdoa3.conf
        #- LPS_TDOA3_ENABLE=1
        # Build cf2 with TDOA3 and all config options
        - loco_tdoa3_all.conf
        # Build Bigquad deck with all config options
        - bigquad.conf
        # Build API test app layer app
        - app_api.conf
    env:
      CONF: ${{ matrix.features }}

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "./scripts/kconfig/merge_config.sh configs/${CONF} configs/defconfig && ./tools/build/build UNIT_TEST_STYLE=min"

  apps:
    runs-on: ubuntu-latest
    needs: cf2

    strategy:
      fail-fast: false
      matrix:
        example:
        - examples/app_hello_world
        - examples/app_hello_world-cpp
        - examples/app_peer_to_peer
        - examples/demos/app_push_demo
        - examples/demos/swarm_demo
    env:
      EXAMPLE: ${{ matrix.example }}

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "./tools/build/make_app ${EXAMPLE}"

  kbuild-targets:
    runs-on: ubuntu-latest
    needs: cf2

    strategy:
      fail-fast: false
      matrix:
        target:
        - allyesconfig
        - allnoconfig
        - randconfig

    env:
      TARGET: ${{ matrix.target }}

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: build
      run: docker run --rm -v ${PWD}:/module bitcraze/builder bash -c "KCONFIG_ALLCONFIG=configs/all.config make ${TARGET} &&  ./tools/build/build UNIT_TEST_STYLE=min"
